.Cam{
    margin-top: 90px;
    margin-left: 2%;
    margin-right: 2%;
}

.navbar-bg {
    /* height: 300px !important; */
    background-color: #030637 !important;

}

@media only screen and (min-width: 800px) {

    .Cam{
        margin-left: 20%;
        margin-right: 20%;
    }
    
}