/* YourComponent.css */

/* .circular-completion-ring{
  display: flex;
  align-items: center;
  justify-content: center;


} */


.ring-background {
  fill: none;
  stroke: #ddd; /* Background color */
}

.ring-progress {
    fill: none;
    transition: stroke-dashoffset 0.8s ease-in-out;
  }
  



.maindial{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -60%);
  

}


.dial{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 60.2%;
    overflow-x: hidden;
  transform: translate(-50%, -60%);
}

.dialtext{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 720%;

}
