.about,.profile,.contact,.description,.notFound{
    margin-top: 80px;
    font-size: 16px;
    text-align: justify;
}
BlockTitle{
    font-size: 29px;
    color: #910A67;
    margin-top: 20px;
    margin-bottom: 20px;
}
.md .icon-back:after {
    color: white;
}


@media only screen and (min-width: 800px) {

    .about,.profile,.description,.contact{
        margin-left: 18%;
        margin-right: 18%;
    }
    

}

.profile .block{
    color: black;
}

.profileIcon{
    font-size: 80px;
}

.user{
    font-size: 100px;
    color: #ffffff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c p,.notFound p{
    text-align:left;
    color: #000000;
}
