.about,.profile,.contact,.description,.notFound,.team{
    margin-top: 80px;
    font-size: 16px;
    text-align: justify;
}
BlockTitle{
    font-size: 29px;
    color: #910A67;
    margin-top: 20px;
    margin-bottom: 20px;
}
.md .icon-back:after {
    color: white;
}

.team{
    flex-direction: column;
   
}
@media only screen and (min-width: 750px) {
.team .block{

    padding: 50px;
}
.team .block h6{
    font-size: 89px;
    
}
.team .block p{
    font-size: 20px;
}

}

@media only screen and (max-width: 1183px){
    .team {
        flex-direction: column !important;
    }
}

@media only screen and (min-width: 750px) {
.team .block{

    flex-direction: row;
   
   
}
.team{
    margin: 100px;
    
}


}

.team h6{
    font-size: 65px;
    color: #910A67;
    text-align: center;
    margin-bottom: 80px ;
}

@media only screen and (min-width: 800px) {

    .about,.profile,.description,.contact{
        margin-left: 18%;
        margin-right: 18%;
    }
    .demo-expandable-cards{
  
        margin-left: 30px;
        margin-right: 30px;
       
    }
    .team .card{
        height: 400px;
        width: 600px;
    }
    .card{
        display: flex;
        flex-direction: row !important;
    }
    .team{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }
    .team .block{
     
       width: auto;
       height: 100%;
       
       
    }
}

.profile .block{
    color: black;
}

.profileIcon{
    font-size: 80px;
}

.user{
    font-size: 100px;
    color: #ffffff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c p,.notFound p{
    text-align:left;
    color: #000000;
}
