.about{
    margin-top: 80px;
    font-size: 16px;
    text-align: justify;
}
BlockTitle{
    font-size: 29px;
    color: #910A67;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 800px) {

    .about{
        margin-left: 18%;
        margin-right: 18%;
    }
}