h1{
    align-items: center;
    text-align: center;
    position: static;
    font-size: 100px;
    color: #910A67;
    margin: 0px !important;
}
h4{
    align-items: center;
    text-align: center;
    position: static;
    z-index: 400 !important;
    position: sticky;
    font-size: 20px;
    color: #910A67;
    margin: 0px !important;
}
body{
   color: #ffffff;
}

.block,.navbar-inner{
    color: white;
}

.title-large{
    height: 0px !important;
    padding: 80px !important;
    align-items: center;
    z-index: 1000 !important;

}

Navbar{
   height: 100px;
}

.navbar-bg {
    /* height: 300px !important; */
    border-radius: 0px 0px 40px 40px;
    background-color: #030637 !important;
    
}

.toolbar{
    background-color: #030637 !important;
}

 .toolbar i,.tabbar-label {
    color: #ffffff !important;
}

.toolbar i:before {
    background-color: #2e0640 !important;
}

.page-content{
    background-color: #3C0753 !important;

}

.page-content{
    padding-top: 290px;
  
    
}

.bellIcon{
    color: #ffffff !important;
    font-size: 20px;
    background-color:#2e0640;
    padding: 8px;
    border-radius: 50px;
 
    margin-top: 12px;
}