/* YourComponent.css */

.circular-completion-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 81%;
  transform: translate(-50%, -60%);
}


.ring-background {
  fill: none;
  stroke: #ddd; /* Background color */
}

.ring-progress {
    fill: none;
    transition: stroke-dashoffset 0.8s ease-in-out;
  }
  
