.profile body {
    background-color: #e1e7ed;
    text-align: center;
    height: 100vh;
}

.profile h3 {
    font-size: 18px;
    font-weight: 500;
    color: #33363b;
}

.profile p{
    font-size: 14px;
    color: #868d9b;
    text-align: center;
}

.cardd {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    width: 80%;
 
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  }

@media screen and (min-width: 500px){
    .cardd{
        width: 50%;
    }
}
  
.card_profile_img {
    width: 120px;
    height: 120px;
    background-color: #868d9b;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
    border-radius: 120px;
    margin: 0 auto;
    margin-top: -60px;
}

.card_background_img {
    width: 100%;
    height: 130px;
    background-color: #e1e7ed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user_details p {
    margin-bottom: 20px;
    margin-top: -5px;
}

.user_details h3 {
    margin-top: 10px;
    text-align: center;
}

.card_count {
    padding: 10px 40px 15px 40px;
    border-top: 1px solid #dde1e7;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.count p {
    margin-top: -10px;
    text-align: center;
}

.bttn {
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #24c5a1;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.md .navbar a.link{
    color: #ffffff;
}

.login-screen-page{

background-color: #3C0753 !important;
}

